extends ../layout

block content
    ul(class="song-container")
        - var i= songs.length; while (i--) {; song = songs[i];
            li(class="song")
                a(href="/view/#{i}") #{song.name}
        - }
