extends ../layout

block content
    form(class="pure-form",action="/search")
        input(type="search",class="search-q",placeholder="Hey, dude!",name="q",value="#{prevQuery}")
    if results
        ul(class="song-container")
            each song in results
                li(class="song")
                    a(href="/add?title=#{song.title}&url=#{song.url}") #{song.title}
